{{ template "layout_main.html" .}}

{{ block "header".}}
{{end}}

{{ block "content" .}}
<div class="row m-3 mb-5">
    <div class="col-6"></div>
    <div class="col-4">
        <div class="input-group">
            <input type="text" name="keyword" id="keyword" class="form-control"
                   placeholder="Please input keyword to search">
            <span class="input-group-append btn btn-info" id="search"> <i class="fa fa-search"></i>Search</span>
        </div>
    </div>
    <div class="col-2 d-flex justify-content-end">
        <button class="btn btn-primary" type="button" id="btn_createDomain" data-bs-toggle="modal"
                data-bs-target="#createDomainModal">
            <i class="fa fa-plus-circle"></i> Create Domain
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="domainTable" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Domain</th>
                <th>Total</th>
                <th>MX</th>
                <th>SPF</th>
                <th>DMARC</th>
                <th>Status</th>
                <th>Create</th>
                <th>Operation</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!--create account modal-->
<div class="modal fade" id="createDomainModal" tabindex="-1" role="dialog" aria-labelledby="createDomainModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="createDomainForm" onsubmit="return false;">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Create A Domain</h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-2">
                        <label for="domainName">Name</label>
                        <input type="text" class="form-control" id="domainName" name="domainName"
                               placeholder="Please input domain name" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                               placeholder="Please input description" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{end}}

{{block "script" .}}

<script>
    $(document).ready(function () {
        var table = $('#domainTable').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "order": [[0, "desc"]],
            "ajax": {
                "url": "/account/domain/index",
                "type": "POST",
                "contentType": "application/json",
                "data": function (d) {
                    return JSON.stringify({
                        "draw": d.draw,
                        "columns": d.columns,
                        "order": d.order,
                        "start": d.start,
                        "length": d.length,
                        "search": d.search,
                        "keyword": $("#keyword").val(),
                    });
                }
            },
            'columns': [
                {'data': 'id'},
                {
                    'data': 'name',
                    'render': function (data, type, row, meta) {
                        return '<a href=/account/index?did=' + row.id + '>' + data + '</a>'
                    }
                },
                {'data': 'totalAccount'},
                {'data': 'mx'},
                {'data': 'spf'},
                {'data': 'dmarc'},
                {
                    'data': 'status',
                    'render': function (data, type, row, meta) {
                        if (data === 0) {
                            return "active"
                        } else if (data === 1) {
                            return "suspend"
                        } else if (data === 2) {
                            return "deleted"
                        } else {
                            return "unknown"
                        }
                    }
                },
                {
                    'data': 'createTime',
                    'render': function (data, type, row, meta) {
                        const momentDate = moment(data);
                        return momentDate.format('YYYY-MM-DD HH:mm:ss');
                    }
                },
                {
                    'data': null, 'render': function (data, type, row, meta) {
                        if (type === 'display') {
                            const activeButton = '<button class="btn btn-link btn-active" data-id="' + data.id + '">' +
                                (data.status === 0 ? 'suspect' : 'active') + '</button>';
                            const deleteButton = '<button class="btn btn-link btn-delete" data-id="' + data.id + '">delete</button>';
                            return activeButton + ' ' + deleteButton;
                        }
                        return data;
                    }
                },
            ],
        })

        $("#search").on("click", function () {
            table.ajax.reload();
        })


        // 添加公众号任务表单处理
        $("#createDomainForm").validate({
            rules: {
                domainName: {
                    required: true,
                    minlength: 3,
                    maxlength: 255,
                },
                description: {
                    minlength: 3,
                    maxlength: 255,
                    required: true,
                },
            },
            messages: {
                domainName: {
                    required: "Please input name of the domain, 3-255 characters",
                    minlength: "Minimum of 3 characters is required",
                    maxlength: "Up to 255 characters"
                },
                description: {
                    required: "Please input description of the domain, 3-255 characters",
                    minlength: "Minimum of 3 characters is required",
                    maxlength: "Up to 255 characters"
                },
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "/account/domain/create",
                    data: JSON.stringify($(form).parseForm()),
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            showMsg(data.success)
                            $('#createDomainModal').modal('hide');
                            table.ajax.reload();
                            $(form).reset();
                        } else {
                            showMsg(data.error)
                        }
                    },
                    error: function (xhr, status, error) {
                        showMsg("Request failed:" + error)
                    }
                })
                return false
            }
        })

        // active/suspect account
        $("#domainTable").on("click", ".btn-active", function () {
            let id = $(this).data("id")
            $.ajax({
                url: "/account/domain/active?did=" + id,
                type: "GET",
                success: function (data) {
                    if (data.success) {
                        showMsg("Operation Success");
                        table.ajax.reload()
                    } else {
                        showMsg("Operation Failed: " + data.error)
                    }
                },
                error: function (xhr, status, error) {
                    console.log("Request Failed: ", error)
                }
            })
        })

        // 删除公众号
        $("#domainTable").on("click", ".btn-delete", function () {
            var id = $(this).data("id")
            $.confirm({
                title: 'Are you sure you want to delete it?',
                content: 'Before delete a domain, you must delete all accounts in the domain first！',
                buttons: {
                    confirm: {
                        text: "Conform",
                        action: function () {
                            $.ajax({
                                url: "/account/domain/delete?did=" + id,
                                type: "GET",
                                success: function (data) {
                                    if (data.success) {
                                        $.toast("Delete Success!");
                                        table.ajax.reload()
                                    } else {
                                        $.toast("Delete Failed: " + data.error)
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.log("Request Failed: ", error)
                                }
                            })
                        },
                    },
                    cancel: {
                        text: "Cancel",
                    }
                },
            });
        })


    })

</script>
{{end}}